steam_credentials.json
steamauth.maFile
config.json

url_cache.tmp

node/
node_modules/

python_services/bridge_script.py
get_account_data_test.js
get_match_list_test.js
matches.json
package-lock.json
package.json
player_data.json
proof_of_principle_test.js
recent_games_test.js
sh1su_connection_test.js
test_request_friends_live_game.js
